@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
label {
  font-weight: 500;
  font-size: 14px;
}
Link, a {
  color: #2145ff;
  text-decoration: none;
}

body {
  position: relative;
  min-height: 100vh;
}

